body {
    background-image: url("ray.jpg");
    background-size: cover;
    font-family: 'comic sans', cursive, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: blue;
    text-align: center;
    height: 100vh;
}



.count-cats {
    //max-width: 250px;
    background: #dddddd;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}


h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 5px dotted white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 20px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

